#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#buttonContainer{

    text-align: center;
}

.buttons{
    padding: 10xp 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(108, 108, 242, 0.679);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(108, 108, 242);
}